{% extends 'base.html' %}

{% load static %}

{% block title %}
    SAFE BEAUTY
{% endblock %}

{% block content %}
    <div class="container text-center">
        {% for image in images %}
            {% if image.title == "img3" %}
                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid" style="max-height: 200px;">
            {% endif %}
        {% endfor %}
        <h1 class="mt-4" style="color: white; text-decoration: underline; font-style: italic;">SAFE BEAUTY</h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                {% for image in images %}
                    {% if image.title == "img1" %}
                        <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid" style="height: 400px;">
                    {% endif %}
                {% endfor %}
            </div>
            <div class="col-12 col-md-6">
                {% for image in images %}
                    {% if image.title == "img2" %}
                        <img src="{{ image.image.url }}" alt="{{ image.title }}" class="img-fluid" style="height: 400px;">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}